Programs/WCFDemos/ServiceClientGreet02/Connected Services/GreetServiceProxy/SimpleGreetService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SimpleGreetService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="tcp-greet_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="tcp-timed-greet_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/wsdl?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/wsdl?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGreetService_Welcome_InputMessage">
    <wsdl:part name="parameters" element="tns:Welcome" />
  </wsdl:message>
  <wsdl:message name="IGreetService_Welcome_OutputMessage">
    <wsdl:part name="parameters" element="tns:WelcomeResponse" />
  </wsdl:message>
  <wsdl:message name="IGreetService_GoodBye_InputMessage">
    <wsdl:part name="parameters" element="tns:GoodBye" />
  </wsdl:message>
  <wsdl:message name="IGreetService_GoodBye_OutputMessage">
    <wsdl:part name="parameters" element="tns:GoodByeResponse" />
  </wsdl:message>
  <wsdl:message name="ITimedGreetService_TimedGreet_InputMessage">
    <wsdl:part name="parameters" element="tns:TimedGreet" />
  </wsdl:message>
  <wsdl:message name="ITimedGreetService_TimedGreet_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimedGreetResponse" />
  </wsdl:message>
  <wsdl:portType name="IGreetService">
    <wsdl:operation name="Welcome">
      <wsdl:input wsaw:Action="http://tempuri.org/IGreetService/Welcome" message="tns:IGreetService_Welcome_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGreetService/WelcomeResponse" message="tns:IGreetService_Welcome_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GoodBye">
      <wsdl:input wsaw:Action="http://tempuri.org/IGreetService/GoodBye" message="tns:IGreetService_GoodBye_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGreetService/GoodByeResponse" message="tns:IGreetService_GoodBye_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ITimedGreetService">
    <wsdl:operation name="TimedGreet">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimedGreetService/TimedGreet" message="tns:ITimedGreetService_TimedGreet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimedGreetService/TimedGreetResponse" message="tns:ITimedGreetService_TimedGreet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="tcp-greet" type="tns:IGreetService">
    <wsp:PolicyReference URI="#tcp-greet_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Welcome">
      <soap12:operation soapAction="http://tempuri.org/IGreetService/Welcome" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GoodBye">
      <soap12:operation soapAction="http://tempuri.org/IGreetService/GoodBye" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="http-greet" type="tns:IGreetService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Welcome">
      <soap:operation soapAction="http://tempuri.org/IGreetService/Welcome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GoodBye">
      <soap:operation soapAction="http://tempuri.org/IGreetService/GoodBye" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="tcp-timed-greet" type="tns:ITimedGreetService">
    <wsp:PolicyReference URI="#tcp-timed-greet_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="TimedGreet">
      <soap12:operation soapAction="http://tempuri.org/ITimedGreetService/TimedGreet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="http-timed-greet" type="tns:ITimedGreetService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TimedGreet">
      <soap:operation soapAction="http://tempuri.org/ITimedGreetService/TimedGreet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SimpleGreetService">
    <wsdl:port name="tcp-greet" binding="tns:tcp-greet">
      <soap12:address location="net.tcp://localhost:5000/greet" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:5000/greet</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>SHIVOHAM\vivek</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="http-greet" binding="tns:http-greet">
      <soap:address location="http://localhost:8000/greet" />
    </wsdl:port>
    <wsdl:port name="tcp-timed-greet" binding="tns:tcp-timed-greet">
      <soap12:address location="net.tcp://localhost:5000/timed-greet" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:5000/timed-greet</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>SHIVOHAM\vivek</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="http-timed-greet" binding="tns:http-timed-greet">
      <soap:address location="http://localhost:8000/timed-greet" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>